extends layout

block content
    h1= title

    if toShow
        - let productId = toShow._id
        - let name = toShow.name
        - let category = toShow.category
        - let price = toShow.price

        div.product-details
            div.row
                div.productAttr.mr-3 Product ID is:
                div #{productId}
            div.row
                div.productAttr.mr-3 Product Name is:
                div #{name}
            div.row
                div.productAttr.mr-3 Product Category is:
                div #{category}
            div.row
                div.productAttr.mr-3 Product Price is:
                div #{price}
    else
        div
            p Product not found.
