extends layout

block content 
    h1= title

    - let productId = toShow._id
    - let name = toShow.name
    - let category = toShow.category
    - let price = toShow.price

    div.row(class='mb-2')
        div.mr-1 ID is
        div #{productId}
    - let actionid = "/resource/product/" + productId
    form(id='ProductForm', action=actionid, method="PUT")
        div.form-group
            label.productAttr(for='name') Product Name
            input#name(type='text', name='name', value=name)
        div.form-group
            label.productAttr(for='category') Product category
            input#category(type='text', name='category', value=category)
        div.form-group
            label.productAttr(for='price') Product price
            input#price(type='number', name='price', value=price)
        input(type="submit")
    
    script.
        document.forms['ProductForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show the user that the form is being submitted
            console.log(event.target.action);
            fetch(event.target.action, {
               method: 'PUT',
                body: new URLSearchParams(new FormData(event.target))
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                console.log(body);
                alert("Save succeeded");
                // TODO handle the body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed " + error);
            });
        });
